.navbar {
  &-brand {
    @extend %transition;
    @include font-size($font-size-base);

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
  }

  &-light {
    @extend %transition;

    .dark & {
      @extend .bg-dark,
      .navbar-dark;
    }
  }

  .nav-link {
    @extend %transition;
  }
}