.skillset {
  @include fluid-padding-top(map-get($grid-breakpoints, md), map-get($grid-breakpoints, ul), 35px, 88px);
  @include fluid-padding-bottom(map-get($grid-breakpoints, md), map-get($grid-breakpoints, ul), 35px, 88px);

  &-title {
    margin-bottom: 22.55px;
  }

  figure {
    max-width: 424px;
    margin: auto;
    @include aspect-ratio(1, 1);
  }
}