.nav-item {

  .nav-link {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
  }

  #dark-mode {
    display: none !important;

    .dark & {
      display: block !important;
    }
  }

  #light-mode {
    display: block !important;

    .dark & {
      display: none !important;
    }
  }
}

// Fill
#download {
  .dark & {
    >path {
      fill: $dark;
    }
  }
}

#bugicon,
#instagram,
#linkedin,
#facebook {
  .dark & {
    >path {
      fill: $white;
    }
  }
}


// Stroke
#code,
#responsive,
#feather {
  .dark & {
    >path {
      stroke: $white;
    }
  }
}